<HEAD><TITLE>Plant hub</TITLE>
<BODY>
<P>
Genome_of_Pomacea_canaliculata to demonstrate assembly hub feature of the UCSC genome browser:
<UL>
<LI><A HREF="http://www.ncbi.nlm.nih.gov/genome/" TARGET="_blank">
NCBI genome (Pomacea_canaliculata) (to be added)</A></LI>
</UL>
</P>
<BODY></HTML>
